<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyecto Parcial 2</title>
  <link rel="stylesheet" href="webHTMLresponsive.css">
</head>
<body>
  <!-- Header -->
  <header>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
    <h1> Página web HTML responsive</h1>
  </header>

  <!-- Contenido Principal -->
  <main>
    <!-- Sección de Introducción -->
    <section id="inicio">
      <h2>Bienvenidos</h2>
      <p>Los estudiantes deberán crear una página web HTML responsive con
        CSS, integrarla en un proyecto de Django, y mostrarla a través de una
        vista utilizando un template de Django.</p>
    </section>

    <!-- Sección de Servicios o Información General -->
    <section id="servicios">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3>Servicio 1</h3>
            <p>Asegurarse de que la página sea
              responsive utilizando media queries
              o frameworks como Bootstrap para
              adaptarse a diferentes tamaños de
              pantalla (computadoras, tablets y
              móviles)</p>
          </div>
          <div class="col-md-4">
            <h3>Servicio 2</h3>
            <p>facilitar el entendimiento de la arquitectura del software mediante ejemplos claros y funcionales.</p>
          </div>
          <div class="col-md-4">
            <h3>Servicio 3</h3>
            <p>Estructura organizada en la carpeta src para el código fuente y docs para la documentación del proyecto.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Sección de Contacto o Pie de Página -->
    <section id="contacto">
      <h2>Contacto</h2>
      <p>Dirección:Chalatenango, El salvador</p>
      <p>Teléfono: 1234567890</p>
      <p>Correo electrónico: <a href="la0074032024@unab.edu.sv">la0074032024@unab.edu.sv</a></p>
      <ul>
        <li><a href="https://es-la.facebook.com/">Facebook</a></li>
        <li><a href="https://x.com/__x">Twitter</a></li>
        <li><a href="https://www.instagram.com/">Instagram</a></li>
      </ul>
    </section>
  </main>

  <!-- Archivo de estilos -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</body>
</html>